@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #0b0f19;
  color: white;
  font-family: sans-serif;
}

.container-custom {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;
}
